@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@700&family=Orbitron&family=Rubik:wght@500&display=swap');

@font-face {
    font-family: font;
    src: url(./Norse-Bold.otf);
}
* {
    padding: 0;
    margin: 0;
}
#container {
    background-color: black;
    display: flex;
}

#right-side {
    width: 65vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#left-side, #right-side {
    min-height: 100vh;
    max-height: 100vh;
}

#left-side {
    width: 35vw;
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center;
}

#top {
    margin-left: 20px;
    font-family: 'Instrument Sans', sans-serif;
    font-family: 'Orbitron', sans-serif;
}


#bottom {
    padding-left: 20px;
}

#logo-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.5);
    position: relative;
    top: 15vh;
}

#logo{
    padding: 5px;
    max-height: 6vw;
    max-width: auto;
}

#logo-text {
    font-family: font;
    color: white;
    font-size: 4vw;
}

p {
    padding-top: 20px;
}

#mid {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 2px -2px gray;
    
}

#col1, #col2 {
    display: flex;
    flex-direction: column;
}

input,label {
    margin-left: 20px;
    font-family: 'Rubik', sans-serif;
    padding: 5px;
    max-width: 200px;
}

button {
    background-color: darkslategrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 2px -2px gray;
  }

  input :focus {
    border: solid lightseagreen 5px;
    box-shadow: 0 4px 2px -2px gray;
  }